MorphoLEX_en-Data_Dictionary.aux
MorphoLEX_en-Data_Dictionary.fdb_latexmk
MorphoLEX_en-Data_Dictionary.fls
MorphoLEX_en-Data_Dictionary.log
MorphoLEX_en-Data_Dictionary.out
MorphoLEX_en-Data_Dictionary.synctex.gz
MorphoLEX_en-Data_Dictionary.tex

